// PREFLIGHT CSS FROM TAILWIND CSS

// GLOBAL TAG
*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
}

// HEADER TEXT
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// LIST STYLE
ol,
ul,
menu {
  list-style: none;
}

// IMAGE
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
//   vertical-align: middle;
}

// NAVBAR
nav {
    width: 100%;
    height: 10vh;
    max-height: 4.5rem;
    font-family: "Montserrat", sans-serif;
    color: var(--Text-color);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    // background-color: white;
    height: 100%;
    padding: 10px 0 10px 0;
}
.navbar-title {
    font-weight: bold;
    font-size: 1.2rem;
}
.navbar-container-list{
    width: 40%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.navbar-list {
    width: fit-content;
    height: 80%;
    max-width: calc(100% / 3.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: var(--Border-radius);
    padding: 10px;
    &:hover{
        background-color: var(--Hover-color);
        font-weight: bold;
        cursor: pointer;
    }
}

.navbar-contact {
    height: 100%;
    justify-content: space-between;
    align-items: center;

    div {
        width: fit-content;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #204E37;
        border-radius: var(--Border-radius);
        padding: 10px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: var(--Hover-color-secondary);
        }
    }
}

.active {
    font-weight: bold;
    background-color: var(--Hover-color);
}
